
body {
    background-color: rgb(35, 48, 73);
    height:1080px;
    width:50%;
}

.btn {
    background: #ffe815;
    cursor:pointer;
    background-image: linear-gradient(to bottom, #d93434, #b82b2b);
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background:  #ffe815;
    background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
    text-decoration: none;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}



.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px; 
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 125px;
    width: 125px;
    background-color:  #ffe815;
	border-radius: 50%;
    border:2px solid black;
    box-shadow: 0 0 0 2pt  #ffe815;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #09e78b;
}


.checkmark:after {
    content: "";
    position: fixed;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


.image-container {
    justify-content: center;
  }